@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

:root{
    --bg-col:#F2E1C1;
    --border-col:#716F81;
    --title-col:#B97A95;
    --caja-col:#F6AE99;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-col);
    color:var(--border-col);
    
    
}

body main{
    background-color: var(--caja-col);
    width: 75%;
    padding:20px 50px;
    margin-left: 12%;
    margin-top: 20vh;
    border:0.7rem solid var(--title-col)
}

body h1{
    color:var(--border-col);
 text-transform: uppercase;
 font-size: 3rem;
 letter-spacing: 0.65rem;
 text-align: center;
 padding: 1.3rem 0;

}

.mob{
    display: none;
}

body h3{
    letter-spacing: 0.11rem;
    font-size: 1.4rem;
    text-align: center;
}

body h3 span{
  
    color: #5e5d66;
    
}

body .redes{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

body .redes h4{
    padding-bottom: 1rem;
}

body .redes i{
    color:var(--border-col);
    font-size: 1.5rem;
    margin: 5px;
}

body .redes i:hover{
    color:black;
}

@media(max-width: 800px){
    html{
        font-size: 12px;
    }
    body .redes{
        font-size: 1.3rem;
    }
    body .redes i{
        font-size: 2rem;
    }
}

@media(max-width: 580px){
    body main{
        
        width: 80%;
        padding:10px 30px;
        margin-left: 12%;
        margin-top: 10vh;
        
    }
    
    body h1{
        font-size: 2rem;
        display: none;
    }
    .mob{
        display: block;
        font-size: 3rem;
    }
}